@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}


@layer components {
    /* ======= PAGE STYLE ======= */
    .page-container {
        @apply container xl:max-w-6xl mx-auto
               bg-li-bg-2 dark:bg-da-bg-2
               shadow-2xl;
    }
    .page-title {
        @apply mb-3 pl-2 py-1 border-l-4 
               font-medium text-lg md:text-xl
               text-li-heading dark:text-da-heading
               border-li-primary dark:border-da-primary;
    }

    .movies-grid {
        @apply grid gap-5 grid-cols-2 md:grid-cols-4;
    }


    /* ======= TEXT STYLE ======= */

    .heading-text {
        @apply text-2xl text-li-heading dark:text-da-heading font-medium;
    }

    .subheading-text {
        @apply text-lg text-li-subheading dark:text-da-subheading mb-1;
    }

    .body-text {
        @apply text-sm text-li-text dark:text-da-text mb-2;
    }
    .body-text-2 {
        @apply text-sm text-li-primary dark:text-da-primary mb-2;
    }

    .normal-btn {
        @apply w-12 h-9 m-1 rounded-md flex flex-row justify-center items-center text-base font-medium
               bg-li-subheading/50 text-li-heading hover:bg-li-subheading/90
               dark:bg-da-bg-1 dark:text-da-heading dark:hover:bg-da-bg-3
             ;
    }
    .active-btn {
        @apply w-12 h-9 m-1 rounded-md flex flex-row justify-center items-center text-base font-medium
               bg-li-primary text-da-heading
               dark:bg-da-primary dark:text-da-heading
               ;
    }

    .header-text {
        @apply px-3 block lg:inline-block py-[10px] lg:pt-3 
               text-base font-normal
               text-li-heading dark:text-da-heading 
               hover:border-l-2 hover:text-li-primary dark:hover:text-da-primary
               hover:pl-[10px] lg:hover:pl-3 lg:hover:border-l-0

               lg:hover:text-li-heading lg:dark:hover:text-da-heading 
               lg:hover:pb-2 lg:hover:border-b-2
               hover:border-li-primary dark:hover:border-da-primary
               ;
    }
}